header, nav, main, footer
{
    display: block;
    width: 1078px;
}
body {
    color: #1267e7;
    background-color: #1f1c1c;
    margin: 0px;
    text-align: center;
}
header {
    color: #000000;
    background-color: #391b31;
    height: 100px;
    position: relative;
}
nav {
    color: #000000;
    background-color: #345678;
}
main {
    color: #000000;
    background-color: #235a0d;
    height: auto;
    overflow: hidden;
}
footer {
    color: #000000;
    background-color: #096474;
    clear: both;
}
#col-left {
    background-color: #006acc;
    width: 150px;
    height: 200px;
    float: left;
}
#col-center {
    background-color: #00c5cc;
    width: auto;
    height: 200px;
}
#container {
    position: relative;
    margin: auto;
    width: 1078px;
    height: auto;
    overflow: hidden;
    border: 100px solid #000000;
}
#logo {
    position: absolute;
    width: 200px;
    height: 80px;
    border: 2px dotted #731980;
    top: 10px;
    left: 10px;
}
#logo img {
    max-height: 80px;
}
table {
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 2px solid #000000;
}
th {
height: 30px;
background-color: grey;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: white;
}